<nav>
    <div class="leftRow">
        <a href="{{url_for('club.index')}}"><img id="logo" src="{{url_for('static', filename = 'img/logo.png')}}"
                alt="Logo"></a>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a href="{{url_for('admin.dashboard')}}">Dashboard</a></li>
            <li><a href="#banner">Início</a></li>
            <li><a href="series">Séries</a></li>
            <li><a href="filmes">Filmes</a></li>
            <li><a href="#trends">Bombando</a></li>
            <li><a href="#mylist">Minha lista</a></li>
            <li><a href="{{url_for('spotify.home')}}">SoundTracks</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </div>
    <div class="rightRow">
        {% block search %}

        <form class="form-inline accordion" action="{{url_for('club.search')}}" method="get">
            <div class="input-group">

                <input type="text" name="q" class="form-control form-control-sm" id="inlineFormInputGroup"
                    placeholder="Busca">

                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        {% endblock %}

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - Alerts -->
        {% include "components/navbar/alerts.html" %}

        <!-- Nav Item - Messages -->
        {% include "components/navbar/messages.html" %} {% if session %}
        <!-- Nav Item - User Information -->
        {% include "components/navbar/user_info.html" %}

        <!-- Logout Modal-->
        {% include 'components/logout_modal.html' %} {% else %} <a href="{{url_for('auth_bp.login')}}">Entrar</a>. {%
        endif
        %}
    </div>
</nav>