{name}_CLIENT_ID: Client key of OAuth 1, or Client ID of OAuth 2
{name}_CLIENT_SECRET: Client secret of OAuth 2, or Client Secret of OAuth 2
{name}_REQUEST_TOKEN_URL: Request Token endpoint for OAuth 1
{name}_REQUEST_TOKEN_PARAMS: Extra parameters for Request Token endpoint
{name}_ACCESS_TOKEN_URL: Access Token endpoint for OAuth 1 and OAuth 2
{name}_ACCESS_TOKEN_PARAMS: Extra parameters for Access Token endpoint
{name}_AUTHORIZE_URL: Endpoint for user authorization of OAuth 1 ro OAuth 2
{name}_AUTHORIZE_PARAMS: Extra parameters for Authorization Endpoint.
{name}_API_BASE_URL: A base URL endpoint to make requests simple
{name}_CLIENT_KWARGS: Extra keyword arguments for OAuth1Session or OAuth2Session