[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
autopep8 = "*"
"backports.entry-points-selectable" = "*"
cachelib = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
distlib = "*"
filelock = "*"
greenlet = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
iniconfig = "*"
itsdangerous = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
protobuf = "*"
py = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyparsing = "*"
pytest = "*"
python-dotenv = "*"
requests = "*"
rsa = "*"
six = "*"
toml = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
Authlib = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
psycopg2-binary = "*"
fontawesomefree = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.10"
