<!DOCTYPE html>
<html lang="pt_BR">

<head>
    {% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Rafael Arcanjo Fagundes de Souza">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
<!-- CSS dependencies -->
{% block css %}
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{url_for('admin.static', filename = 'css/elegant.css')}}">
<!-- Custom styles for this template-->
<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
<link href="{{url_for('admin.static', filename = 'css/admin.min.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
{% endblock %}
<script defer src="{{url_for('static', filename = 'js/app.js')}}"></script>
<link rel="icon" href="{{url_for('static', filename = 'img/favicon.ico')}}">    <title>{% block title %}{% endblock %} - Popcorn Club Admin</title>
    {% endblock %}
</head>

<body id="page-top">

    {% block content %} {% endblock %} {% block footer %}
    <!-- Footer -->
    {%include "components/footer.html" %}
    <!-- End of Footer -->
    {% endblock %}

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'components/logout_modal.html' %} {% block script %}
    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename = 'js/admin.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{url_for('static', filename = 'vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{url_for('static', filename = 'js/demo/chart-area-demo.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/demo/chart-pie-demo.js')}}"></script>
    {% endblock %}
</body>

</html>