<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img id="userAvatar" src="{{ dict(session)['profile']['picture'] }}" alt="User">
        <span class="mr-2 d-none d-lg-inline text-gray-600">{{
            dict(session)['profile']['given_name'] }}</span>
    </a>

    <!-- Dropdown - User Information -->
    {% include "components/profile_dropdown.html" %}
</li>