<!-- Intro -->
<div class="py-5">
    <div class="container my-5">
        <div class="row mx-auto">
            <div class="col-md-12">
                <h1 class="mb-3">Saiba mais</h1>
                <p class="">Local para debates sobre filmes, troca de opiniões e recomendações</p>
                <a href="#schedule" class="btn m-2 btn-outline-light">Em construção</a>
                <a class="btn btn-primary m-2" href="#register">Registre-se</a>
            </div>
        </div>
    </div>
</div>