{% extends "base_auth.html" %} {% block title %} - Register{% endblock %} {% block head %} {{ super() }}

<!-- Custom fonts for this template-->
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{{url_for('static', filename = 'css/admin.min.css')}}" rel="stylesheet"> {% endblock %}

{% block content %}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <a href={{url_for('auth_bp.login')}} class="btn btn-primary btn-user btn-block">
                                Register Account
                            </a>
                            <hr>
                            <a href={{url_for('auth_bp.google')}} class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Registrar com Google
                            </a>
                            <a href={{url_for('auth_bp.disqus')}} class="btn btn-disqus btn-user btn-block">
                                <i class="fab fa-comment-f fa-fw"></i> Registrar com Disqus
                            </a>
                            <a href={{url_for('auth_bp.facebook')}} class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Registrar com Facebook
                            </a>
                            <a href={{url_for('auth_bp.spotify')}} class="btn btn-spotify btn-user btn-block">
                                <i class="fab fa-spotify-f fa-fw"></i> Registrar com Spotify
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href={{url_for('auth_bp.forgot_password')}}>Esqueceu a Senha?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href={{url_for('auth_bp.login')}}>Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/admin.min.js"></script>

{% endblock %}