{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<header id="banner" style='background-image: url("{{img_url(movie.backdrop_path)}}");'>
    <div id="banner__contents">
        <h1 id="banner__title">{{movie["title"] or movie["name"]}}
            {% if movie["adult"] %}
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            {% endif %}
        </h1>

        <ul id="genres" class="">
            {% for genre in movie["genres"] %}
            <li class="badge rounded-pill bg-primary ">
                {{genre["name"]}}
            </li>
            {% endfor %}
        </ul>

        <ul>
            <li>Nota: <i><span class='badge badge-counter {{aprovacao}}'>{{movie["vote_average"]}}</span></i></li>
            <li>Avaliações: <i><span class='badge badge-counter {{aprovacao}}'>{{movie["vote_count"]}}</span></i></li>
            <li>Site Oficial: <i><a href="{{movie['homepage']}}" target="_blank">{{movie["homepage"]}}</a></i></li>
            <li>IMDB ID: <i class="fab fa-imdb" aria-hidden="true">{{movie['imdb_id']}}</i></li>
        </ul>

        <h2 class="row__title">Sinopse</h2>
        <p id="banner__description">{{movie["overview"]}}</p>
    </div>
</header>
{% endblock %}

{% block content %}
<div id="headrow">
    {% if "seasons" in movie %}
    <ul>
        {% for season in movie["seasons"] %}
        <li>

            <div class="list-group" id='{{session["id"]}}'>
                <a href="#" class="list-group-item ">Temporada: {{season["name"]}}</a>
                <a href="#" class="list-group-item ">Episódios: <span
                        class='badge badge-counter '>{{season["episode_count"]}}</span></a>
                <a href="#" class="list-group-item ">Lançamento: {{season["air_date"]}}</a>
                <a href="#" class="list-group-item ">Sinopse: {{season["overview"]}}</a>
            </div>

        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="accordion accordion-flush bg-dark" id="specAbout">
        <div class="accordion-item default-backgound">
            <h2 class="accordion-header" id="headingAbout">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#about" aria-expanded="false" aria-controls="about">
                    <h3>FICHA TÉCNICA</h3>
                </button>
            </h2>
            <div id="about" class="accordion-collapse collapse  bg-blue" aria-labelledby="headingAbout"
                data-bs-parent="#specAbout">
                <div class="accordion-body default-backgound">
                    <ul class="align-items-center">
                        {% if "budget" in movie %}
                        <li class="">Orçamento: <a href="#">U$ {{movie['budget'] / 1000000}} (milhões de dólares)</a>
                        </li>
                        <li class="">Arrecadação: <a href="#">U$ {{movie['revenue'] / 1000000 }} (milhões de
                                dólares)</a>
                        </li>
                        {% endif %}
                        <li>Popularidade: {{movie['popularity']}}</li>
                        <li>Duração: <i>{{movie["runtime"]}} minutos</i></li>
                        <li>Data de estreia: <i>{{movie["release_date"]}}</i></li>
                        <li>Status: <i>{{movie["status"]}}</i></li>
                        <li>Gêneros: {% for genre in movie["genres"] %}
                            <i class="badge rounded-pill bg-primary ">{{genre["name"]}}</i>
                            {% endfor %}
                        </li>
                        <li>País de Origem: {% for country in movie["production_countries"] %}
                            <i class="badge rounded-pill bg-primary ">{{country["name"]}}</i>
                            {% endfor %}
                        </li>
                        <li>Idiomas: {% for sl in movie["spoken_languages"] %}
                            <i class="badge rounded-pill bg-primary ">{{sl["name"]}}</i>
                            {% endfor %}
                        </li>
                        <li>Idioma original: <i>{{movie["original_language"]}}</i></li>
                        <li>Título original: <i>{{movie["original_title"]}}</i></li>
                        <li>Tagline: {{movie['tagline']}}</li>
                        <li>Elenco: <i>{{movie["cast"]}}</i></li>
                        <li>Homepage: {{movie['homepage']}}</li>
                        <li>Produzido por: {% for company in movie["production_companies"] %}
                            <i class="badge rounded-pill bg-primary ">{{company["name"]}}</i>
                            {% endfor %}
                        </li>
                        <li>Trailler: {{movie['video']}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header default-backgound" id="headingSoundtrack">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#soundtrack" aria-expanded="false" aria-controls="soundtrack">
                    <h3>Trilha Sonora</h3>
                </button>
            </h2>
            <div id="soundtrack" class="accordion-collapse collapse" aria-labelledby="headingSoundtrack"
                data-bs-parent="#specAbout">
                <div class="accordion-body default-backgound">
                    <!-- Soundtrack -->
                    <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380"
                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingGalleryCollapse">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#galleryCollapse" aria-expanded="false" aria-controls="galleryCollapse">
                    <h3>Galeria de Imagens</h3>
                </button>
            </h2>
            <div id="galleryCollapse" class="accordion-collapse collapse" aria-labelledby="headingGalleryCollapse"
                data-bs-parent="#specAbout">
                <div class="accordion-body">
                    <div id="gallery" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#gallery" data-slide-to="0" class="active"></li>
                            <li data-target="#gallery" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner mt-4">
                            {% if "poster_path" in movie %}
                            <div class="carousel-item active">
                                <img class="d-block w-25 m-auto" src='{{ img_url(movie["poster_path"])}}'
                                    alt="First slide">
                            </div>
                            {% endif %}

                            {% if "backdrop_path" in movie %}
                            <div class="carousel-item">
                                <img class="d-block w-50 m-auto" src='{{ img_url(movie["backdrop_path"])}}'
                                    alt="Second slide">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingGalleryCollectionCollapse">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#galleryCollectionCollapse" aria-expanded="false"
                    aria-controls="galleryCollectionCollapse">
                    <h3>Outros Títulos nesta Franquia</h3>
                </button>
            </h2>
            {% if movie["belongs_to_collection"] %}
            <div id="galleryCollectionCollapse" class="accordion-collapse collapse"
                aria-labelledby="headingGalleryCollectionCollapse" data-bs-parent="#specAbout">
                <div class="accordion-body">
                    <div id="galleryColletion" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#galleryColletion" data-slide-to="0" class="active"></li>
                            <li data-target="#galleryColletion" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner mt-4">
                            {% if "poster_path" in movie["belongs_to_collection"] %}
                            <div class="carousel-item active">
                                <img class="d-block w-25 m-auto"
                                    src='{{ img_url(movie["belongs_to_collection"]["poster_path"])}}' alt="First slide">
                            </div>
                            {% endif %}

                            {% if "backdrop_path" in movie["belongs_to_collection"] %}
                            <div class="carousel-item">
                                <img class="d-block w-50 m-auto"
                                    src='{{ img_url(movie["belongs_to_collection"]["backdrop_path"])}}'
                                    alt="Second slide">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#galleryColletion" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#galleryColletion" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{%include "disqus.html" %}
<img src='{{ img_url(movie["production_companies"][0]["logo_path"])}}'
    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
    alt='{{ movie["production_companies"][0]["name"]}}'>
{% endblock %}