<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        {% include 'components/cards/earnings_monthy.html' %}


        <!-- Earnings (Annual) Card Example -->
        {% include 'components/cards/earnings_annual.html' %}


        {% include 'components/cards/tasks.html' %}


        <!-- Pending Requests Card Example -->
        {% include 'components/cards/pending_requests.html' %}
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        {% include "components/charts/area.html" %}

        <!-- Pie Chart -->
        {% include "components/charts/pie.html" %}
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            {% include "components/cards/projects.html" %}

            <!-- Color System -->
            {% include "components/color.html" %}
        </div>

        <div class="col-lg-6 mb-4">
            <!-- Illustrations -->
            {% include "components/illustrations.html" %}

            <!-- Approach -->
            {% include "components/approach.html" %}
        </div>
    </div>
</div>