{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block header %}
<header id="banner" style='background-image: url({{img_url(set_movie["backdrop_path"])}});'>
    <div id="banner__contents">
        <h1 id="banner__title">{{set_movie["title"]}}</h1>
        <div id="banner__buttons">
            <button id="banner__button">Play</button>
            <button id="banner__button">Minha Lista</button>
        </div>
        <p id="banner__description">{{set_movie["overview"][0:200]}}</p>
    </div>
    <div id="banner__fadeBottom"></div>
</header>
{% endblock %} {% block content %}

<div id="headrow">
    <div class="row">
        <h2 class="row__title"></h2>
        <div class="row__posters"></div>
    </div>

    <section class="row popularrow" id="trends">
        <h2 class="row__title">Em alta</h2>
        <div class="row__posters">
            {% for movie in popular %}
            <img src='{{ img_url(movie["backdrop_path"], movie["poster_path"])}}' id='{{movie["id"]}}' class="row__posterLarge">
            <a href='/movie/about/{{movie["id"]}}' class="title">{{movie["title"] if movie["title"] else
                movie["name"]}}</a> {% endfor %}
        </div>
    </section>

    <div class="row trendrow">
        <h2 class="row__title">Mais vistos</h2>
        <div class="row__posters">
            {% for movie in trend %}
            <img src='{{ img_url(movie["backdrop_path"], movie["poster_path"])}}' id='{{movie["id"]}}' class="row__posterLarge">
            <a href='/movie/about/{{movie["id"]}}' class="title">{{movie["title"] if movie["title"] else
                movie["name"]}}</a> {% endfor %}
        </div>
    </div>

    <!-- TODO adicionar abas de movie e series por serviço de assinatura -->
    <div class="row netflixrow">
        <h2 class="row__title">ORIGINAIS NETFLIX</h2>
        <div class="row__posters">
            {% for movie in netflix %}
            <img src='{{ img_url(movie["backdrop_path"], movie["poster_path"])}}' id='{{movie["id"]}}' class="row__posterLarge">
            <a href='/movie/about/{{movie["id"]}}' class="title">{{movie["title"] if movie["title"] else
                movie["name"]}}</a> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}