{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<!-- PAGE settings -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<!-- CSS dependencies -->
<link rel="stylesheet" href="{{url_for('static', filename = 'elegant.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{{url_for('static', filename = 'js/navbar-ontop.js')}}"></script>
<!-- Script: Animated entrance -->
<script src="{{url_for('static', filename = 'js/animate-in.js')}}"></script>

{% endblock %} {% block content %}
<!-- Cover -->
<div class="d-flex align-items-center py-5 photo-overlay cover" style="background-image: url({{url_for('static', filename = 'img/logo.png')}});">
    <div class="container">
        <div class="row">
            <div class="text-white p-5 bg-dark-opaque col-12 col-lg-8 mx-auto">
                <h1 class="display-3">PopCorn Club</h1>
                <p class="">Clube para amantes da 7ª arte </p>
                <a href="#register" class="btn btn-lg mt-4 btn-primary">Registrar-se ou Fazer Login</a>
            </div>
        </div>
    </div>
</div>

<!-- Intro -->
<div class="py-5">
    <div class="container my-5">
        <div class="row mx-auto">
            <div class="col-md-12">
                <h1 class="mb-3">Saiba mais</h1>
                <p class="">Local para debates sobre filmes, troca de opiniões e recomendações</p>
                <a href="#schedule" class="btn m-2 btn-outline-light">Em construção</a>
                <a class="btn btn-primary m-2" href="#register">Registre-se</a>
            </div>
        </div>
    </div>
</div>


<!-- Schedule -->
<div class="py-5" id="schedule">
    <div class="container my-5 bg-primary animate-in-down">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white mt-4">Schedule</h1>
            </div>
        </div>
        <div class="row text-left">
            <div class="p-4 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-block text-center card-primary p-2">
                        <h2>Day 1</h2>
                        <p class="lead">Prototype</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;09:30-10:00 –&nbsp;
                            <b>Welcome</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;10:00-12:00 –&nbsp;
                            <b>Bootstrap for UX</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;12:00-13:00 –&nbsp;
                            <b>Q&amp;A</b></li>
                        <li class="list-group-item list-group-item-info"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;13:00-14:30 –&nbsp;
                            <b>Lunch break</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;14:30-16:00 –&nbsp;
                            <b>Best practices</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;16:00-18:00 –&nbsp;
                            <b>Editing workshop</b></li>
                    </ul>
                </div>
            </div>
            <div class="p-4 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-block text-center card-primary p-2">
                        <h2>Day 2</h2>
                        <p class="lead">Design</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;09:30-10:00 –&nbsp;
                            <b>Guest speech</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;10:00-12:00 –&nbsp;
                            <b>Mobile design</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;12:00-13:00 –&nbsp;
                            <b>UI trends</b></li>
                        <li class="list-group-item list-group-item-info"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;13:00-14:30 –&nbsp;
                            <b>Lunch break</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;14:30-16:00 –&nbsp;
                            <b>Discussion</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;16:00-18:00 –&nbsp;
                            <b>Party!</b></li>
                    </ul>
                </div>
            </div>
            <div class="p-4 col-lg-4">
                <div class="card">
                    <div class="card-block text-center p-2">
                        <h2>Day 3</h2>
                        <p class="lead">Publish</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;09:30-10:00 –&nbsp;
                            <b>Intro to WBN</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;10:00-12:00 –&nbsp;
                            <b>Publishing</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;12:00-13:00 –&nbsp;
                            <b>Implementation</b></li>
                        <li class="list-group-item list-group-item-info"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;13:00-14:30 –&nbsp;
                            <b>Lunch break</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;14:30-16:00 –&nbsp;
                            <b>Farewell</b></li>
                        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-secondary"></i>&nbsp;16:00-18:00 –&nbsp;
                            <b>Party!</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sponsor logos -->
<div class="py-5 section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-4">Sponsors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <img class="center-block img-fluid d-block" src="assets/conference/logo_1.png">
            </div>
            <div class="col-md-3 col-6">
                <img class="center-block img-fluid d-block" src="assets/conference/logo_4.png">
            </div>
            <div class="col-md-3 col-6">
                <img class="center-block img-fluid d-block" src="assets/conference/logo_3.png">
            </div>
            <div class="col-md-3 col-6">
                <img class="center-block img-fluid d-block" src="assets/conference/logo_2.png">
            </div>
        </div>
    </div>
</div>

<!-- Call to action -->
<div class="py-5 section" id="register">
    <div class="container py-5">
        <div class="row animate-in-down">
            <div class="col-md-8 text-md-left text-center">
                <h1 class="mb-3 text-white">Registrations are open</h1>
                <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp;
                    <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.
                </p>
            </div>
            <div class="col-md-4 align-self-center">
                <a href="#" class="btn btn-lg btn-primary my-3">Registrar</a>

                <form action="/login" method="POST">
                    <input placeholder="Name" autocomplete="off" type="text" name="name">
                    <input type="submit" name="Register">
                </form>
            </div>

            <div class="box-login">
                <h2>Login</h2>

                <!-- Código html do botão de login -->
                <div id="gSignInWrapper">
                    <div id="customBtn" class="customGPlusSignIn">
                        <span class="icon"></span>
                        <span class="buttonText"><a href="{{url_for('google')}}">Logar com o Google</a></span>
                    </div>
                </div>
                <div id="name"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}