{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<!-- PAGE settings -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<!-- CSS dependencies -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/elegant.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/buttons.css')}}">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{{url_for('static', filename = 'js/navbar-ontop.js')}}"></script>
<!-- Script: Animated entrance -->
<script src="{{url_for('static', filename = 'js/animate-in.js')}}"></script>

{% endblock %} {%block navbar %}{% endblock %}{% block content %}
<!-- Cover -->
<div class="d-flex align-items-center py-5 photo-overlay cover" style="background-image: url({{url_for('static', filename = 'img/logo.png')}});">
    <div class="container">
        <div class="row">
            <div class="text-white p-5 bg-dark-opaque col-12 col-lg-8 mx-auto">
                <h1 class="display-3">PopCorn Club</h1>
                <p class="">Clube para amantes da 7ª arte </p>

                <!-- Código html do botão de login -->
                <div id="gSignInWrapper">
                    <a href="{{url_for('google')}}" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                </div>

                <!-- Código html do botão de login -->
                <div id="dSignInWrapper">
                    <div id="customBtn" class="customDPlusSignIn">
                        <a href="{{url_for('disqus')}}">
                            <i class="fas fa-comments fa-fw"></i> Logar com Disqus
                        </a>
                    </div>
                </div>

                <!-- Código html do botão de login -->
                <div id="sSignInWrapper">
                    <div id="customBtn" class="customSPlusSignIn">
                        <a href="{{url_for('spotify')}}" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-spotify fa-fw"></i>Logar com Spotify
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}