{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<!-- PAGE settings -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<!-- CSS dependencies -->
<link rel="stylesheet" href="{{url_for('static', filename = 'elegant.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{{url_for('static', filename = 'js/navbar-ontop.js')}}"></script>
<!-- Script: Animated entrance -->
<script src="{{url_for('static', filename = 'js/animate-in.js')}}"></script>

{% endblock %} {%block navbar %}{% endblock %}{% block content %}
<!-- Cover -->
<div class="d-flex align-items-center py-5 photo-overlay cover" style="background-image: url({{url_for('static', filename = 'img/logo.png')}});">
    <div class="container">
        <div class="row">
            <div class="text-white p-5 bg-dark-opaque col-12 col-lg-8 mx-auto">
                <h1 class="display-3">PopCorn Club</h1>
                <p class="">Clube para amantes da 7ª arte </p>
                <a href="#register" class="btn btn-lg mt-4 btn-primary">Registrar-se ou Fazer Login</a>
            </div>
        </div>
    </div>
</div>

<!-- Intro -->
<div class="py-5">
    <div class="container my-5">
        <div class="row mx-auto">
            <div class="col-md-12">
                <h1 class="mb-3">Saiba mais</h1>
                <p class="">Local para debates sobre filmes, troca de opiniões e recomendações</p>
                <a href="#schedule" class="btn m-2 btn-outline-light">Em construção</a>
                <a class="btn btn-primary m-2" href="#register">Registre-se</a>
            </div>
        </div>
    </div>
</div>

<!-- Call to action -->
<div class="py-5 section" id="register">
    <div class="container py-5">
        <div class="row animate-in-down">
            <div class="col-md-8 text-md-left text-center">
                <h1 class="mb-3 text-white"></h1>
                <p> </p>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <div class="box-login">
                <h2>Login</h2>

                <!-- Código html do botão de login -->
                <div id="gSignInWrapper">
                    <div id="customBtn" class="customGPlusSignIn">
                        <span class="icon"></span>
                        <span class="buttonText"><a href="{{url_for('google')}}">Logar com o Google</a></span>
                    </div>
                </div>
            </div>

            <div class="box-login">
                <h2>Disqus</h2>

                <!-- Código html do botão de login -->
                <div id="gSignInWrapper">
                    <div id="customBtn" class="customGPlusSignIn">
                        <span class="icon"></span>
                        <span class="buttonText"><a href="{{url_for('disqus')}}">Logar com Disqus</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer2 %}
<footer>
    <div class="container py-5">
        <div class="col-6 col-md">
            <div class="row">
                <div class="my-3 col-lg-4 col-md-6">
                    <h3>Contato</h3>
                    <form>
                        <fieldset class="form-group my-3">
                            <input type="email" class="form-control" id="Input Email" placeholder="Email">
                        </fieldset>
                        <fieldset class="form-group my-3">
                            <input type="message" class="form-control" id="Input Message" placeholder="Message">
                        </fieldset>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
                <div class="col-lg-1"> </div>
                <div class="my-3 col-lg-3">
                    <h3>Siga-nos</h3>
                    <a href="https://www.facebook.com" target="blank"><i
                            class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
                    <a href="https://www.instagram.com" target="blank"><i
                            class="fa fa-3x fa-instagram text-muted m-2"></i></a>
                    <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
                    <a href="https://plus.google.com" target="blank"><i
                            class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
                    <a href="https://pinterest.com" target="blank"><i
                            class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
                    <a href="https://www.youtube.com" target="blank"><i
                            class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">© Copyright 2021 UCL - All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}