<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" action="/detalhes/">
                <div class="input-group">
                    <input type="text" class="form-control" id="pesquisaTermo" name="pesquisaTermo"
                        placeholder="Escreva" value="{{ busca }}">
                    <input type="hidden" class="form-control" id="cap" name="cap" value="{{ cp }}">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i
                                class="fa fa-search"></i></button></div>
                </div>
            </form>
        </div>
    </div>
</div>