{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<header id="banner" style='background-image: url({{img_url(movie["backdrop_path"])}});'>
    <div id="banner__contents">
        <h1 id="banner__title">{{movie["title"]}}</h1>
        <div id="banner__buttons">
        </div>
        <p id="banner__description">{{movie["overview"][0:200]}}</p>
    </div>
    <div id="banner__fadeBottom"></div>
</header>
{% endblock %}

{% block content %}

<div id="headrow">
    <div class="row">
        <h2 class="row__title"></h2>
        <div class="row__posters">
            <ul>
            {% for key, value in movie.items() %}
                <li>{{key}} : {{value}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!-- <section class="row popularrow" id="trends">
        <h2 class="row__title">Em alta</h2>
        <div class="row__posters">
            {% for movie in popular %}
            <img src='{{ img_url(movie["backdrop_path"], movie["poster_path"])}}' id='{{movie["id"]}}'
                class="row__posterLarge">
            <a href='/movie/about/{{movie["id"]}}' class="title">{{movie["title"] if movie["title"] else
                movie["name"]}}</a>
            {% endfor %}
        </div>
    </section> -->

  
</div>
{% endblock %}