{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<!-- PAGE settings -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<!-- CSS dependencies -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/elegant.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/buttons.css')}}">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{{url_for('static', filename = 'js/navbar-ontop.js')}}"></script>
<!-- Script: Animated entrance -->
<script src="{{url_for('static', filename = 'js/animate-in.js')}}"></script>

{% endblock %} {%block navbar %}{% endblock %}{% block content %}
<!-- Cover -->
<div class="d-flex align-items-center py-5 photo-overlay cover"
    style="background-image: url({{url_for('static', filename = 'img/logo.png')}});">
    <div class="container">
        <div class="row">
            <div class="text-white p-5 bg-dark-opaque col-12 col-lg-8 mx-auto">
                <h1 class="display-3">PopCorn Club</h1>
                <p class="">Clube para amantes da 7ª arte </p>


                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bem-vindo(a) de volta</h1>
                </div>
                <form class="user">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Lembrar-me</label>
                        </div>
                    </div>
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-user btn-block">
                        Login
                    </a>
                    <hr>
                    <!-- Código html do botão de login -->
                    <a href="{{url_for('google')}}" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="{{url_for('facebook')}}" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a>

                    <!-- Código html do botão de login -->
                    <a href="{{url_for('disqus')}}" class="btn btn-disqus btn-user btn-block">
                        <i class="fas fa-comments fa-fw"></i> Logar com Disqus
                    </a>

                    <!-- Código html do botão de login -->
                    <a href="{{url_for('spotify')}}" class="btn btn-spotify btn-user btn-block">
                        <i class="fab fa-spotify fa-fw"></i>Logar com Spotify
                    </a>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="{{url_for('forgot_password')}}">Esqueceu a senha?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{{url_for('register')}}">Criar uma conta!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}